@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');


html {
  font-size: 125%;
}


body {
  background-color: rgb(255, 218, 224);
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  transition: .3s ease;
}

main {
  text-align: center;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
}

header {

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  img {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -10;
    opacity: .6;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  background-color: rgb(146, 166, 209);
  padding: 15px;

  button {
    margin-left: 10px;
    padding: 8px;
    border-radius: 10px;
    font-size: .8rem;
    background-color: #2F3C7E;

    &:hover,
    &:focus,
    &:active {
      background-color: rgb(80, 104, 143);
    }
  }
}

input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  width: 50%;
}

li {
  padding: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 180, 190);
  color: azure;

  &:nth-child(even) {
    background-color: rgb(129, 141, 193);
    color: azure;
  }

  p {
    display: inline;
    margin-left: 10px;
  }

  .delete {
    font-size: .7rem;
    color: black;

    &:hover,
    &:focus,
    &:active {
      background-color: #EA738DFF;
    }
  }


  .counters {
    display: inline;

    button {
      margin: 0 10px;
      color: black;
    }

    .resetCounter:hover,
    .resetCounter:focus,
    .resetCounter:active {
      background-color: red;
    }

    .increaseCounter:hover,
    .increaseCounter:focus,
    .increaseCounter:active {
      background-color: #EA738DFF;
    }
  }
}

label {
  margin-right: 10px;
}

button {
  background-color: #89ABE3FF;
  border: none;
  padding: 5px 10px;
  text-transform: lowercase;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

select {
  background-color: rgb(255, 218, 185);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-left: 15px;
  font-size: 1rem;
}

@media(max-width:1110px) {
  body {
    font-size: 1rem;
  }

  input {
    width: 50%;
  }
}



@media(max-width:360px) {
  h1 {
    font-size: 2.5rem;
  }
}