@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');


html {
  font-size: 125%;
}


body {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 202, 0.4345938204383316) 100%);
  display: flex;
  align-items: Center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

main {
  padding: 20px;
  background: rgb(253, 66, 29);
  background: radial-gradient(circle, rgba(253, 66, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  width: 50vw;
  height: 100vh;
  margin-bottom: 20px;
  border-radius: 30px;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
}


li {
  margin-bottom: 10px;
}

.strikethrough {
  text-decoration: line-through;
  font-weight: bold;
}

.listItem {
  font-weight: bold;
}

label {
  margin-right: 10px;
}

.delete {
  margin-left: 15px;
  margin-right: 5px;
}

form button {
  margin-left: 10px;
}

button {
  background-color: plum;
  border: 1px solid rgb(146, 54, 146);
  padding: 5px 10px;
  text-transform: lowercase;
  border-radius: 10px;
  cursor: pointer;
}


@media(max-width:705px) {
  main {
    width: 80vw;
  }
}