@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');


html {
  font-size: 125%;
}


body {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 202, 0.4345938204383316) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  transition: .3s ease;
}

.App {
  text-align: center;

}

main {
  padding: 20px;
  background: rgb(253, 66, 29);
  background: radial-gradient(circle, rgba(253, 66, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  width: 50vw;
  height: 100vh;
  margin-bottom: 20px;
  border-radius: 50px;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style-type: circle;
}

form {
  background: rgb(255, 218, 185);
  background: radial-gradient(circle, rgba(255, 218, 185, 1) 50%, rgba(255, 255, 255, 1) 100%);
  padding: 15px;
  border-radius: 50px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
}

li {
  margin-bottom: 10px;
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

label {
  margin-right: 10px;
}

.completed {
  margin-left: 15px;
  margin-right: 5px;
}

button {
  background-color: plum;
  border: 1px solid rgb(146, 54, 146);
  padding: 5px 10px;
  text-transform: lowercase;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

form button {
  margin-left: 10px;
  padding: 8px;
  border-radius: 10px;
  font-size: .8rem;
}

select {
  background-color: rgb(255, 218, 185);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-left: 15px;
  font-size: 1rem;
}

@media(max-width:1110px) {
  body {
    font-size: 1rem;
  }

  input {
    width: 50%;
  }
}

@media(max-width:705px) {
  main {
    width: 80vw;
    margin: 0 auto;
  }
}

@media(max-width:360px) {
  h1 {
    font-size: 2.5rem;
  }
}